@hubbox:registry=https://npm.hub-box.com
//npm.hub-box.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJncm91cHMiOlsiZXh0ZXJuYWwiXSwidXNlck5hbWUiOiJzY291dGFuZGNlbGxhciIsImlhdCI6MTY1MjcxOTY3MX0.TBJrZny_7ndxYMcAiTsBhJsmnT_vDMohMZst48SrXdM
