@tailwind base;

@layer base {
  body {
    @apply bg-neutral-50;
    @apply h-full;
    @apply text-neutral-400;
    @apply font-body;
  }

  * {
    @apply focus:outline-1 focus:outline-primary-300;
  }

  input {
    @apply focus:!border-primary-300 focus:!ring-1 focus:!ring-primary-300;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  h1,
  h2 {
    @apply font-extrabold;
  }

  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-4xl;
    @apply lg:text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  h6 {
    @apply text-h6;
  }
}

@tailwind components;
@tailwind utilities;
