@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    -webkit-appearance: none;
  }

  :root {
    --highlight: 'inherit';
  }

  .highlight {
    color: var(--highlight);
  }

  body {
    letter-spacing: 1px;
    scroll-behavior: smooth;
  }

  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply !font-heading !font-normal;
  }

  h1,
  .h1 {
    @apply !text-5xl lg:!text-[3.75rem];
  }

  h2,
  .h2 {
    @apply !text-[2.5rem] lg:!text-5xl;
  }

  h3,
  .h3 {
    @apply !text-[2rem] lg:!text-[2.5rem];
  }

  h4,
  .h4 {
    @apply !text-[1.75rem] lg:!text-3xl;
  }

  h5,
  .h5 {
    @apply !text-2xl;
  }

  h6,
  .h6 {
    @apply !text-xl;
  }
}
